.changes {
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
}

.changes__text {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 18px;
  color: #444444;
}

.changes__link {
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
}
