.principles-list {
  list-style: none;
}

@media (min-width: $width_tablet) {
  .principles-list {
    display: flex;
  }
}

@media (min-width: $width_desktop) {
  .principles-list {
    display: flex;
  }
}

.principles-list__item {
  position: relative;
  width: 200px;
  font-size: 14px;
  font-family: $font_secondary;
  line-height: 18px;
  color: $color_grey;
  padding-left: 80px;
  margin-bottom: 26px;
}

.principles-list__item:first-child::before {
  content: "";
  position: absolute;
  background-image: url("/img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 3px;
  left: 5px;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.principles-list__item:nth-child(2)::before {
  content: "";
  position: absolute;
  background-image: url("/img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 3px;
  left: 5px;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.principles-list__item:nth-child(3)::before {
  content: "";
  position: absolute;
  background-image: url("/img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 3px;
  left: 5px;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.principles-list__item:last-child::before {
  content: "";
  position: absolute;
  background-image: url("/img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 3px;
  left: 5px;
  width: 50px;
  height: 50px;
  z-index: 2;
}

.principles-list__item::after {
  content: "";
  position: absolute;
  background-color: $bg_color_green;
  top: -2px;
  left: 0;
  width: 60px;
  height: 60px;
}
