.principles-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $width_tablet) {
  .principles-list {
    display: flex;
  }
}

@media (min-width: $width_desktop) {
  .principles-list {
    display: flex;
  }
}

.principles-list__item {
  font-size: 14px;
  font-family: $font_secondary;
  line-height: 18px;
  color: $color_grey;
}
