.product-promotion {
  background-image: url('/img/index-background-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #64a83b;
  background-size: 320px 305px;
}

.main-headline--white {
  color: #ffffff;
}

.product-promotion__slogan {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
