.promo {
  background-color: $bg_color_white-lighten;
  padding-left: 20px;
  padding-right: 20px;
}

.promo__text {
  font-size: 14px;
  font-family: $font_secondary;
  line-height: 18px;
  color: $color_grey;
}

.promo__attention {
  font-size: 24px;
  line-height: 24px;
  color: $color_black;
  text-transform: uppercase;
}

.promo__span {
  font-size: 12px;
  font-family: $font_secondary;
  line-height: 12px;
  color: $color_grey;
}

.promo__important-text {
  font-size: 14px;
  line-height: 20px;
  color: $color_black;
  text-transform: uppercase;
}
