.slider__button {
  font-size: 16px;
  line-height: 20px;
  color: $color_black;
  text-transform: uppercase;
  padding: 0;

  background: none;
  border: 0 none;
}

@media (min-width: $width_desktop) {
  .slider {
    display: flex;
  }

  .slider__container {
    display: flex;
  }

  .slider__image-div {
    display: flex;
  }

  .slider__button-div {
    display: flex;
  }
}
