.additional-product {
  margin-bottom: 34px;
}

.additional-product__headline {
  padding-bottom: 33px;
}

.additional-product__list {
  margin: 0 0 41px 0;
  padding: 0;
}

.additional-product__box {
  @media (min-width: $width_desktop) {
    display: flex;
  }
}
