.additional-product-list {
  list-style: none;

  @media (min-width: $width_desktop) {
    display: block;
    min-width: 73%;
    margin: 0;
  }
}

.additional-product-list__item {
  border-bottom: 1px solid $border_color_grey-pure;

  &:first-child {
    border-top: 1px solid $border_color_grey-pure;
  }

  @media (min-width: $width_tablet) {
    border-left: 1px solid $border_color_grey-pure;
    border-right: 1px solid $border_color_grey-pure;
  }

  @media (min-width: $width_desktop) {
    border-left: 0 none;
    border-right: 0 none;
  }
}
