.additional-product {
  margin-bottom: 34px;
}

.additional-product__headline {
  margin-bottom: 33px;
}

.additional-product__list {
  margin-bottom: 41px;
  padding: 0;
}

.additional-product__box {
  @media (min-width: $width_desktop) {
    display: flex;
  }
}
