.additional-product {
  margin: 0 -20px 34px;
  border-top: 3px solid $border_color_green;

  @media (min-width: $width_tablet) {
    margin: 0 -30px 76px;
  }

  @media (min-width: $width_desktop) {
    margin: 0 0 76px 0;
  }
}

.additional-product__wrapper {
  margin: 0 20px;

  @media (min-width: $width_tablet) {
    margin: 0 30px;
  }

  @media (min-width: $width_desktop) {
    max-width: 1220px;
    margin: 0 auto 86px;
  }
}

.additional-product__headline {
  width: 267px;
  margin: -16px 0 33px -20px;
  padding: 0 10px 0 20px;
  background-color: $bg_color_white;

  @media (min-width: $width_tablet) {
    width: 413px;
    margin: -25px 0 80px 0;
    padding: 0 10px 0 41px;
  }

  @media (min-width: $width_desktop) {
    width: 413px;
    margin: -25px 0 80px -40px;
    padding: 0 10px 0 40px;
  }
}

.additional-product__list {
  margin-bottom: 41px;
  padding: 0;

  @media (min-width: $width_tablet) {
    margin-bottom: 69px;
  }
}

.additional-product__box {
  @media (min-width: $width_desktop) {
    display: flex;
    justify-content: space-between;
  }
}
