.additional-product-list {
  list-style: none;

  @media (min-width: $width_desktop) {
    min-width: 733px;
  }
}

.additional-product-list__item {
  border-bottom: 1px solid $border_color_grey-pure;

  &:first-child {
    border-top: 1px solid $border_color_grey-pure;
  }
}
