.product {
  margin: 0 -20px 32px -20px;

  @media (min-width: $width_tablet) {
    margin: 0 -30px 11px -30px;
  }

  @media (min-width: $width_desktop) {
    max-width: 1220px;
    margin: 0 auto 22px;
  }
}

.product__list {
  margin: 0;
  padding: 0;
}
