.product-name__link {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 31px;
    height: 2px;
    background-color: $bg_color_dark;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -38px;
    left: 86px;
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $width_tablet) {
    font-size: 20px;
    font-family: $font_secondary;
    line-height: 20px;
    display: block;
    margin: 0 auto;
    max-width: 42%;

    &::before,
    &::after {
      width: 61px;
      top: -81px;
      left: 39px;
    }
  }

  @media (min-width: $width_desktop) {
    max-width: 56%;
  }
}
