.product-list {
  list-style: none;

  @media (min-width: $width_tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.product-list__item {
  border-left: 1px solid $border_color_grey-pure;
  border-right: 1px solid $border_color_grey-pure;
  border-bottom: 1px solid $border_color_grey-pure;

  @media (min-width: $width_tablet) {
    width: 50%;
  }

  @media (min-width: $width_desktop) {
    width: 25%;
    background-color: $bg_color_white-lighten;
  }

  &:last-child {
    text-align: center;

    @media (min-width: $width_desktop) {
      background-color: $bg_color_white;
    }
  }
}
