.product-list {
  list-style: none;

  @media (min-width: $width_tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;

    &:last-child {
      text-align: center;
    }
  }
}
