.product-div {
  margin: 0 20px;

  @media (min-width: $width_tablet) {
    margin: 0 30px;
    padding-bottom: 16px;
    background-image: linear-gradient(#ffffff 84px, #f2f2f2 80px);

    &--last-child {
      margin-top: 80px;
      background-image: none;
      background-color: $bg_color_white;
      border: 1px solid $border_color_grey-solid;
      padding-bottom: 13px;
    }
  }

  @media (min-width: $width_desktop) {
    margin: 0;

    &--last-child {
      padding-bottom: 14px;
    }
  }
}

.product-div__link {
  display: block;
  width: 90px;
  font-size: 16px;
  line-height: 20px;
  color: $color_black;

  @media (min-width: $width_tablet) {
    margin: 0 auto;
    min-width: 43%;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  @media (min-width: $width_desktop) {
    min-width: 55%;
  }
}

.product-div__wrapper-for-product-card {
  display: flex;

  @media (min-width: $width_tablet) {
    display: block;
  }
}

.product-div__product-link {
  @media (min-width: $width_tablet) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 210px;
  }
}

.product-div__product-image {
  display: block;

  @media (min-width: $width_tablet) {
    margin: 0 auto;
    width: 324px;
    height: auto;
  }
}

.product-div__product-name {
  margin: 0 0 14px 0;
  padding-top: 21px;
  font-size: 16px;
  font-family: $font_secondary;
  font-weight: 400;
  line-height: 20px;
  color: $color_black;
  text-transform: uppercase;

  &--intends {
    padding-top: 80px;
    margin-bottom: 7px;
  }

  @media (min-width: $width_tablet) {
    margin-bottom: 17px;
    padding-top: 39px;

    &--intends {
      padding-top: 164px;
      margin-bottom: 28px;
    }
  }
}

.product-div__product-description {
  margin: 0;
}

.product-div__order-button {
  margin-bottom: 26px;
}

.product-div__text {
  margin: 0 0 21px 0;
  font-size: 12px;
  line-height: 16px;
  color: $color_grey;

  @media (min-width: $width_tablet) {
    font-size: 16px;
    line-height: 19px;
    max-width: 52%;
    margin: 0 auto 88px;
  }

  @media (min-width: $width_desktop) {
    max-width: 69%;
  }
}
