.product-description {
  font-size: 14px;
  line-height: 14px;
  color: $color_grey;

  &__product-value {
    font-size: 14px;
    line-height: 14px;
    color: $color_grey;
  }

  &__product-quantity {
    font-size: 14px;
    line-height: 14px;
    color: $color_grey;
  }
}
