.product-list {
  list-style: none;

  @media (min-width: $width_tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.product-list__item {
  border-left: 1px solid $border_color_grey-pure;
  border-right: 1px solid $border_color_grey-pure;
  border-bottom: 1px solid $border_color_grey-pure;

  &:last-child {
    text-align: center;
  }

  @media (min-width: $width_tablet) {
    width: 50%;
    border: 0 none;
    margin-bottom: 55px;

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 37px;
    }
  }

  @media (min-width: $width_desktop) {
    width: calc(25% - 5%);
    margin-bottom: 54px;

    &:not(:nth-child(4n)) {
      margin-right: 81px;
    }

    &:last-child {
      margin-top: 83px;
    }
  }
}
