.product-div {
  &__link {
    font-size: 16px;
    line-height: 20px;
    color: $color_black;
  }

  &__product-card {
    @media (min-width: $width_tablet) {
      background-color: $bg_color_white-lighten;
    }
  }

  &__product-name {
    font-size: 16px;
    font-family: $font_secondary;
    font-weight: 400;
    line-height: 20px;
    color: $color_black;
    text-transform: uppercase;
  }

  &__product-description {
    margin-bottom: 23px;
  }

  &__order-button {
    margin-bottom: 25px;
  }

  &__text {
    font-size: 12px;
    line-height: 16px;
    color: $color_grey;
  }
}
