.product-description {
  font-size: 12px;
  line-height: 16px;
}

.product-description__product-value {
  font-size: 14px;
  line-height: 14px;
  color: $color_grey;
}

.product-description__product-quantity {
  font-size: 14px;
  line-height: 14px;
  color: $color_grey;
}
