.product-div {
  margin: 0 20px;

  @media (min-width: $width_tablet) {
    margin: 0 30px;
    padding: 0 40px 16px;
    background-image: linear-gradient(#ffffff 84px, #f2f2f2 80px);
  }

  @media (min-width: $width_desktop) {
    margin: 0;
    padding: 0 40px 15px;
  }

  &--last-child {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 31px;
      height: 2px;
      background-color: $bg_color_dark;
      opacity: 0.2;
      background-repeat: no-repeat;
      background-position: 0 0;
      top: 20%;
      left: 44.5%;

      @media (min-width: $width_tablet) {
        width: 60px;
        top: 19%;
        left: 41%;
      }

      @media (min-width: $width_desktop) {
        width: 60px;
        left: 38%;
      }
    }

    &::after {
      transform: rotate(90deg);
    }

    @media (min-width: $width_tablet) {
      margin-top: 84px;
      min-height: 432px;
      background-image: none;
      background-color: $bg_color_white;
      border: 1px solid $border_color_grey-solid-50;
      padding-bottom: 17px;
    }

    @media (min-width: $width_desktop) {
      margin-top: 85px;
      padding: 0 37px 13px;
    }
  }
}

.product-div__link {
  display: block;
  width: 70%;
  font-size: 16px;
  line-height: 20px;
  color: $color_black;

  @media (min-width: $width_tablet) {
    margin: 0 auto;
    max-width: 57%;
    min-height: 40px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  @media (min-width: $width_desktop) {
    min-width: 80%;
  }
}

.product-div__wrapper-for-product-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;

  @media (min-width: $width_tablet) {
    display: block;
  }
}

.product-div__product-link {
  @media (min-width: $width_tablet) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 -40px;
    height: 210px;
  }
}

.product-div__product-image {
  display: block;

  @media (min-width: $width_tablet) {
    margin: 0 auto;
    width: 324px;
    height: auto;
  }
}

.product-div__product-card {
  width: 50%;

  @media (min-width: $width_tablet) {
    width: 100%;
  }
}

.product-div__product-name {
  margin: 0 0 14px 0;
  padding-top: 21px;
  font-size: 16px;
  font-family: $font_secondary;
  font-weight: 400;
  line-height: 20px;
  color: $color_black;
  text-transform: uppercase;

  @media (min-width: $width_tablet) {
    margin-bottom: 17px;
    padding-top: 38px;
  }

  &--intends {
    padding-top: 80px;
    margin-bottom: 7px;

    @media (min-width: $width_tablet) {
      padding-top: 163px;
      margin-bottom: 26px;
    }
  }
}

.product-div__product-description {
  margin: 0;
}

.product-div__order-button {
  margin-bottom: 24px;
}

.product-div__text {
  margin: 0 0 21px 0;
  font-size: 12px;
  line-height: 16px;
  color: $color_grey;

  @media (min-width: $width_tablet) {
    font-size: 16px;
    line-height: 19px;
    max-width: 76%;
    min-height: 37px;
    margin: 0 auto 85px;
  }

  @media (min-width: $width_desktop) {
    max-width: 100%;
    margin: 0 auto 85px;
  }
}
