.sale-block {
  position: relative;
  text-align: center;
  background-color: $bg_color_green;
  background-size: cover;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 289px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("/img/svg/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 22%;
    left: 40%;
    width: 56px;
    height: 61px;

    @media (min-width: $width_tablet) {
      top: 32%;
      left: 13%;
    }

    @media (min-width: $width_desktop) {
      top: 23%;
      left: 39%;
    }
  }

  @media (min-width: $width_tablet) {
    background-image: url("/img/gift-photo-tablet@1x.jpg");
    min-height: 200px;
  }

  @media (min-width: $width_desktop) {
    background-image: url("/img/gift-photo-desktop@1x.jpg");
    max-width: 20%;
  }
}

.sale-block__text {
  position: relative;
  margin: 0;
  padding: 187px 43px 0 43px;
  font-size: 16px;
  line-height: 20px;
  color: $color_white;

  @media (min-width: $width_tablet) {
    max-width: 83%;
    padding: 72px 0 0 60%;
    text-align: left;
  }

  @media (min-width: $width_desktop) {
    max-width: 83%;
    padding: 187px 0 0 40px;
    text-align: center;
  }
}
