.sale-block {
  background-color: $bg_color_green;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sale-block__text {
  font-size: 16px;
  font-family: $font_secondary;
  line-height: 20px;
  color: $color_white;
  padding-left: 60px;
  padding-right: 61px;
}
