.company-info__div {
  background-color: $white-two;
}

.company-info__div--white-back {
  background-color: $white;
}

.company-info__lead-text {
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
}

.company-info__text {
  font-size: 14px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: $grey;
}
