.page-main__headline {
  padding-left: 22px;
  margin-bottom: 36px;
}

.page-main__text {
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
  padding-left: 20px;
}
