.site-nav-list {
  font-size: 20px;
  font-family: "Oswald Medium", sans-serif;
  line-height: 20px;
  color: #111111;
}

.site-nav-list__link {
  font-size: 20px;
  font-family: "Oswald Medium", sans-serif;
  line-height: 20px;
  text-decoration: none;
  color: #111111;
}
