.site-nav-list {
  font-size: 20px;
  font-family: $font_optional;
  line-height: 20px;
  color: $color_black;
  list-style: none;
}

.site-nav-list__link {
  font-size: 20px;
  font-family: $font_optional;
  line-height: 20px;
  color: $color_black;
}
