@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Oswald Regular";
  src: url("/source/fonts/oswaldregular.woff2") format("woff"),
    url("/source/fonts/oswaldregular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Oswald Medium";
  src: url("/source/fonts/oswaldmedium.woff") format("woff"),
    url("/source/fonts/oswaldmedium.woff2") format("woff2");
}
