@mixin image-fullscreen {
  position: relative;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  right: 50%;
  width: 100vw;
}

@mixin reset-image-fullscreen {
  position: static;
  left: 0;
  margin-left: 0;
  margin-right: 0;
  right: 0;
  width: auto;
}
