//text-colors
$color-black-darken: #000000;
$color_black: #111111;
$color_dark: #222222;
$color_grey: #444444;
$color_white: #ffffff;
$color_white-lighten: #f2f2f2;
$color_green: #68b738;

//bg-colors
$bg_color_white: #ffffff;
$bg_color_white-lighten: #f2f2f2;
$bg_color_green: #68b738;
$bg_color_dark: #222222;

//fonts
$font_main: "Arial", sans-serif;
$font_secondary: "Oswald Regular", "Arial", sans-serif;
$font_optional: "Oswald Medium", "Arial", sans-serif;

//variable-width
$width_phone: 320px;
$width_mobile_only: 767px;
$width_tablet: 768px;
$width_desktop: 1300px;

//borders
$border_color_grey: #e6e6e6;
$border_color_light-grey: #d9d9d9;
$border_color_grey-solid: #cdcdcd;
$border_color_green: #68b738;
$border_color_grey-pure: #ededed;
$border_color_grey-solid: #d3d3d3;
