.page-footer {
  background-color: $bg_color_white-lighten;
}

.page-footer__promo-link {
  font-size: 16px;
  font-family: $font_secondary;
  line-height: 16px;
  color: $color_grey;
}

.logo__image {
  width: 101px;
  height: 18px;
}

.page-footer__social-list {
  margin: 0;
  padding: 0;
}


.social-list {
  list-style: none;
}
