.page-footer {
  background-color: $bg_color_white-lighten;
}

@media (min-width: $width_tablet) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__div {
  display: flex;
}

.page-footer__promo-link {
  font-size: 16px;
  font-family: $font_secondary;
  line-height: 16px;
  color: $color_grey;
}

.social-list {
  display: flex;
}
