.page-main__headline {
  padding: 26px 0 40px 20px;
  text-align: left;
}

.page-main__text {
  font-size: 14px;
  line-height: 18px;
  color: $color_black;
  text-transform: uppercase;
  padding-left: 20px;
}

.page-main__headline--border {
  border-bottom: 1px solid $border_color_grey-pure;
}
