.page-footer {
  background-color: $bg_color_white-lighten;
}

@media (min-width: $width_tablet) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }
}

.logo-footer {
  display: block;
  text-align: center;
  border-bottom: 1px solid $border_color_light-grey;
}

.logo--intends {
  padding: 2px 0 28px 0;
  margin: 0 20px 24px 20px;
}


.page-footer__social-list {
  margin: 0 20px 29px 20px;
  padding-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid $border_color_light-grey;
}

.social-list__link {
  display: block;
}

.page-footer__promo-logo-div {
  justify-content: space-around;
}

.page-footer__promo-link {
  font-size: 16px;
  font-family: $font_secondary;
  line-height: 16px;
  color: $color_grey;
  padding-bottom: 33px;
  margin-right: 100px;
}

.page-footer__promo-img {
  display: block;
  margin-top: -7px;
}

.page-footer__promo-logo-div {
  display: flex;
  justify-content: space-between;
}

.company-info__map {
  display: block;
  object-position: 0 -38px;
  background-color: $bg_color_white-lighten;
}
