.page-header {
  font-size: 20px;
  line-height: 20px;
  color: $color_black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $width_tablet) {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
  }

  @media (min-width: $width_desktop) {
    margin: 0;
    padding: 0 110px;
  }
}
