.additional-product__list {
  margin: 0;
  padding: 0;
}

.additional-product-list {
  list-style: none;
}

.additional-product-div__link {
  font-size: 16px;
  line-height: 16px;
  color: $color_dark;
  text-transform: uppercase;
}
