.product-div__link {
  font-size: 16px;
  line-height: 20px;
  color: $black;
}

.product-div__product-name {
  font-size: 16px;
  line-height: 20px;
  color: $black;
}

.product-div__product-description {
  margin-bottom: 23px;
}

.product-div__order-button {
  margin-bottom: 25px;
}

.product-div__text {
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 16px;
  color: $grey;
}
