.product-description {
  font-size: 12px;
  font-family: $font_secondary;
  line-height: 16px;
}

@media (min-width: $width_tablet) {
  .product-description {
    display: flex;
    flex-wrap: wrap;
  }
}

.product-description__div {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.product-description__quantity {
  margin: 0;
}
