.sale-block {
  background-color: #68b738;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  min-height: 289px;
}

.sale-block__text {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: #ffffff;
  padding-left: 60px;
  padding-right: 61px;
}
