.cat-weight-headline {
  position: relative;
  font-size: 24px;
  font-family: $font_secondary;
  font-weight: 400;
  line-height: 37px;
  color: $color_black;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $bg_color_green;

    @media (min-width: $width_tablet) {
      width: 200px;
      height: 200px;
      top: 79%;
      left: 63%;
    }
  }

  &--weight-loss {
    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: 10px;
      background-image: url("/img/svg/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 35px;
      height: 49px;
      z-index: 2;

      @media (min-width: $width_tablet) {
        width: 141px;
        height: 194px;
        top: 69%;
        left: 68%;
      }
    }
  }

  &--weight-gain {
    &::before {
      content: "";
      position: absolute;
      top: 35px;
      left: -7px;
      background-image: url("/img/svg/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 67px;
      height: 28px;
      z-index: 2;

      @media (min-width: $width_tablet) {
        width: 268px;
        height: 113px;
        top: 120%;
        left: 57%;
      }
    }
  }
}
