.principles-list {
  list-style: none;
  position: relative;
  flex-direction: column;

  @media (min-width: $width_tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $width_desktop) {
    flex-wrap: nowrap;
  }
}

.principles-list__item {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 80px;
  margin-bottom: 27px;
  min-height: 50px;

  &:first-child,
  &:nth-child(2),
  &:nth-child(3),
  &:last-child {
    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 0;
      top: 3px;
      left: 5px;
      width: 50px;
      height: 50px;
      z-index: 2;
    }
  }

  &:first-child {
    &::before {
      background-image: url("/img/advantage-leaf@1x.png");
    }
  }

  &:nth-child(2) {
    &::before {
      background-image: url("/img/advantage-powder@1x.png");
    }
  }

  &:nth-child(3) {
    &::before {
      background-image: url("/img/advantage-dining@1x.png");
    }
  }

  &:last-child {
    &::before {
      background-image: url("/img/advantage-clock@1x.png");
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $bg_color_green;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
  }

  @media (min-width: $width_tablet) {
    width: 50%;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    max-width: calc (100% / 2);

    &:first-child,
    &:nth-child(2) {
      margin-bottom: 267px;
    }

    &::after {
      top: -112px;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &:first-child,
    &:nth-child(2),
    &:nth-child(3),
    &:last-child {
      &::before {
        top: -97px;
        left: 15px;
        width: 80px;
        height: 80px;
      }
    }

    &:nth-child(2),
    &:nth-child(3),
    &:last-child {
      > .principles-list__span {
        top: -151px;
        right: -2px;
      }
    }
  }

  @media (min-width: $width_desktop) {
    margin-bottom: 0;
    margin-right: -35px;
    max-width: calc(100% / 4);

    &:first-child,
    &:nth-child(2) {
      margin-bottom: 0;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:last-child {
      > .principles-list__span {
        top: -151px;
        right: 15px;
      }
    }
  }
}

.principles-list__span {
  display: none;

  @media (min-width: $width_tablet) {
    position: absolute;
    display: block;
    font-size: 281px;
    font-family: $font_secondary;
    line-height: 281px;
    color: $color_white-lighten;
    z-index: -1;
    top: -151px;
    right: 15px;
  }

  @media (min-width: $width_desktop) {
    right: 33px;
  }
}
