.principles {
  margin-bottom: 46px;

  @media (min-width: $width_tablet) {
    margin: 0 -30px 27px -30px;
    padding-bottom: 75px;
    border-bottom: 1px solid $border_color_grey-pure;
  }

  @media (min-width: $width_desktop) {
    margin-bottom: 39px;
    border-bottom: 0 none;
  }
}

.principles__headline {
  margin-bottom: 31px;

  @media (min-width: $width_tablet) {
    margin: 0 30px 184px 30px;
  }
}

.principles__list {
  padding: 0;

  @media (min-width: $width_tablet) {
    margin: 0 109px 0 30px;
  }
}
