.promo {
  background-color: $bg_color_white-lighten;

  @media (min-width: $width_tablet) {
    background-color: $bg_color_white;
  }
}

.promo__headline {
  padding-top: 17px;
  margin-bottom: 24px;

  @media (min-width: $width_tablet) {
    margin-bottom: 63px;
  }

  @media (min-width: $width_desktop) {
    max-width: 1220px;
    margin: 0 auto 74px;
    padding-top: 50px;
  }
}

.promo__background {
  @media (min-width: $width_desktop) {
    background-color: $bg_color_white-lighten;
    margin: 0;
    padding: 0;
  }
}

.promo__box {
  @media (min-width: $width_desktop) {
    width: 1220px;
    display: flex;
    margin: 0 auto;
  }
}

.promo__desktop-div {
  margin-bottom: 38px;

  @media (min-width: $width_tablet) {
    margin-bottom: 222px;
  }

  @media (min-width: $width_desktop) {
    margin: 0 auto;
    width: 50%;
  }
}

.promo__text {
  margin: 0 0 25px 0;
  padding-right: 1px;
  font-family: $font_main;

  @media (min-width: $width_tablet) {
    font-size: 16px;
    line-height: 24px;
    max-width: 96%;
    word-wrap: break-word;
    margin-bottom: 53px;
  }

  @media (min-width: $width_desktop) {
    padding-top: 72px;
    margin-bottom: 66px;
    font-size: 16px;
    line-height: 24px;
    max-width: 71%;
  }
}

.promo__container {
  @media (min-width: $width_tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $width_desktop) {
    display: block;
  }
}

.promo__div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;

  @media (min-width: $width_desktop) {
    justify-content: left;
    margin-bottom: 28px;
  }
}

.promo__text-with-border {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  border: 1px solid $border_color_light-grey;
  border-radius: 3px;

  &:first-child {
    padding: 16px 42px 17px 42px;
  }

  &:last-child {
    padding: 17px 21px 8px 20px;
  }

  @media (min-width: $width_tablet) {
    &:first-child {
      padding: 16px 56px 17px 56px;
      margin-right: 42px;
    }

    &:last-child {
      padding: 17px 29px 8px 29px;

      > .promo__span {
        left: 10px;
      }
    }
  }

  @media (min-width: $width_desktop) {
    display: flex;
    flex-direction: column;
  }
}

.promo__attention {
  font-size: 24px;
  font-family: $font_secondary;
  line-height: 24px;
  color: $color_black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $width_tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.promo__span {
  position: absolute;
  max-width: 67%;
  font-size: 12px;
  line-height: 12px;
  top: 48px;
  left: 16px;
  text-align: center;
  background-color: $bg_color_white-lighten;

  @media (min-width: $width_tablet) {
    max-width: 90%;
    font-size: 14px;
    line-height: 14px;
    background-color: $bg_color_white;
    top: 63px;
    left: 25px;
    padding: 0 9px 0 6px;
  }

  @media (min-width: $width_desktop) {
    background-color: $bg_color_white-lighten;
  }
}

.promo__important-text {
  margin: 0;
  font-size: 14px;
  font-family: $font_secondary;
  line-height: 20px;
  text-align: center;
  color: $color_black;
  text-transform: uppercase;

  @media (min-width: $width_tablet) {
    font-size: 20px;
    line-height: 20px;
    max-width: 174px;
    padding-top: 12px;
    text-align: right;
  }

  @media (min-width: $width_desktop) {
    text-align: left;
    max-width: 100%;
    padding-top: 14px;
  }
}

.promo__cost-span {
  @media (min-width: $width_tablet) {
    display: block;
    margin-top: 10px;
  }

  @media (min-width: $width_desktop) {
    display: inline;
    margin-left: 60px;
  }
}

.promo__slider-div {
  @media (min-width: $width_tablet) {
    margin: 0 -30px;
  }

  @media (min-width: $width_desktop) {
    margin: 0;
    width: 50%;
  }
}
