.product-promotion {
  position: relative;
  text-align: center;

  &__div {
    background-image: url("/img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: $color_green;
    background-size: 320px 305px;

    @media (min-width: $width_tablet) {
      background-color: inherit;
      background-image: none;
      padding: 0 90px;
    }
  }

  &__slogan {
    font-size: 14px;
    font-family: $font_secondary;
    line-height: 14px;
    color: $color_white;
    text-transform: uppercase;

    @media (min-width: $width_tablet) {
      color: $color_black;
      text-align: left;
    }
  }

  &__link {
    margin: 0 20px;

    @media (min-width: $width_tablet) {
      margin: 0 90px;
    }
  }
}
