.product-promotion {
  position: relative;
  text-align: center;

  @media (min-width: $width_desktop) {
    margin-bottom: 130px;
  }
}

.product-promotion__div {
  @media (min-width: $width_tablet) {
    background-color: inherit;
    background-image: none;
    padding: 0 90px;
  }

  @media (min-width: $width_desktop) {
    padding: 0 80px;
  }
}

.product-promotion__box {
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-color: $color_green;
  background-size: 320px 305px;

  @media (min-width: $width_tablet) {
    background: none;
  }

  @media (min-width: $width_desktop) {
    padding-top: 75px;
    max-width: 50%;
  }
}

.product-promotion__headline {
  padding-top: 27px;
  margin-bottom: 25px;

  @media (min-width: $width_tablet) {
    margin-bottom: 41px;
  }
}

.product-promotion__slogan {
  padding-bottom: 167px;
  font-size: 14px;
  font-family: $font_secondary;
  line-height: 14px;
  color: $color_white;
  text-transform: uppercase;

  @media (min-width: $width_tablet) {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    color: $color_black;
    text-align: left;
  }
}

.product-promotion__image {
  margin-top: -151px;

  @media (min-width: $width_tablet) {
    width: 709px;
    height: 609px;
    max-width: 100vw;
    margin: 0 -90px;
  }

  @media (min-width: $width_desktop) {
    width: 552px;
    height: 499px;
    max-width: 100vw;
    margin: -280px 0 0 235px;
  }
}

.product-promotion__link {
  margin: 0 20px;

  @media (min-width: $width_tablet) {
    margin-left: 90px;
  }

  @media (min-width: $width_desktop) {
    margin-left: 83px;
  }
}
