.product-promotion {
  position: relative;
  text-align: center;
}

.product-promotion__div {
  @media (min-width: $width_tablet) {
    background-color: inherit;
    background-image: none;
    padding: 0 90px;
  }

  @media (min-width: $width_desktop) {
    display: flex;
    padding: 0;
    //background-color: $bg_color_green;
    //background-image: url("/img/index-background-desktop@1x.jpg");
    //background-position: 0 0;
    //background-repeat: no-repeat;
    //background-size: 720px 696px;
  }
}

.product-promotion__box {
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-color: $color_green;
  background-size: 320px 305px;

  @media (min-width: $width_desktop) {
    margin-left: 83px;
  }
}

.product-promotion__headline {
  padding-top: 27px;
  margin-bottom: 25px;
}

.product-promotion__slogan {
  margin: 0 0 28px 0;
  padding-bottom: 167px;
  font-size: 14px;
  font-family: $font_secondary;
  line-height: 14px;
  color: $color_white;
  text-transform: uppercase;

  @media (min-width: $width_tablet) {
    color: $color_black;
    text-align: left;
  }
}

.product-promotion__image {
  margin-top: -167px;
}

.product-promotion__link {
  margin: 0 20px;

  @media (min-width: $width_tablet) {
    margin-left: 90px;
  }

  @media (min-width: $width_desktop) {
    margin-left: 83px;
  }
}
