.promo {
  background-color: $bg_color_white-lighten;

  @media (min-width: $width_tablet) {
    background-color: $bg_color_white;
  }

  @media (min-width: $width_desktop) {
    background-color: $bg_color_white;
  }
}

.promo__headline {
  padding-top: 17px;
  margin-bottom: 24px;

  @media (min-width: $width_desktop) {
    background-color: $bg_color_white;
  }
}

.promo__main-box-desktop {
  @media (min-width: $width_desktop) {
    background-color: $bg_color_white-lighten;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
  }
}

.promo__box {
  @media (min-width: $width_desktop) {
    width: 1220px;
    display: flex;
    margin: 0 auto;
  }
}

.promo__desktop-div {
  margin-bottom: 38px;

  @media (min-width: $width_desktop) {
    margin: 0 auto;
    width: 50%;
  }
}

.promo__text {
  margin: 0 0 25px 0;
}

.promo__container {
  @media (min-width: $width_tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $width_desktop) {
    display: block;
  }
}

.promo__div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;

  @media (min-width: $width_desktop) {
    justify-content: left;
  }
}

.promo__text-with-border {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  border-top: 1px solid $border_color_light-grey;
  border-left: 1px solid $border_color_light-grey;
  border-right: 1px solid $border_color_light-grey;
  border-radius: 3px;
  //костыль ниже
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 18px;
    height: 0;
    border-bottom: 1px solid $border_color_light-grey;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 18px;
    height: 0;
    border-bottom: 1px solid $border_color_light-grey;
    border-radius: 3px;
  }

  &:first-child {
    padding: 16px 20px 4px 19px;
  }

  &:last-child {
    padding: 15px 7px 5px 7px;
  }

  @media (min-width: $width_desktop) {
    display: flex;
    flex-direction: column;
  }
}

.promo__attention {
  font-size: 24px;
  font-family: $font_secondary;
  line-height: 24px;
  color: $color_black;
  text-align: center;
  text-transform: uppercase;
}

.promo__span {
  font-size: 12px;
  line-height: 12px;
}

.promo__important-text {
  margin: 0;
  font-size: 14px;
  font-family: $font_secondary;
  line-height: 20px;
  text-align: center;
  color: $color_black;
  text-transform: uppercase;

  @media (min-width: $width_desktop) {
    text-align: left;
  }
}

.promo__slider-div {
  @media (min-width: $width_tablet) {
    margin: 0 -30px;
  }

  @media (min-width: $width_desktop) {
    margin: 0;
    width: 50%;
  }
}
