.slider {
  @media (min-width: $width_tablet) {
    background-color: $bg_color_white-lighten;
  }
}

.slider__image-div {
  text-align: center;

  @media (min-width: $width_desktop) {
    display: flex;
  }
}

.slider__button-div {
  text-align: center;
}

.slider__button {
  font-size: 16px;
  font-family: $font_secondary;
  line-height: 20px;
  color: $color_black;
  text-transform: uppercase;
  padding: 0;
  background: none;
  border: 0 none;
}
