.slider {
  &__image-div {
    text-align: center;
  }

  &__button-div {
    text-align: center;
  }

  &__button {
    font-size: 16px;
    font-family: $font_secondary;
    line-height: 20px;
    color: $color_black;
    text-transform: uppercase;
    padding: 0;
    background: none;
    border: 0 none;
  }
}
