.form__fieldset {
  border: 0;
  padding: 0 0 0 20px;
  margin: 0;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__list-item {
  display: flex;
  margin-bottom: 15px;
}

.form__list-item:last-child {
  margin-bottom: 21px;
}

@media (min-width: $width_tablet) {
  .form__list--flexible {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $width_desktop) {
  .form__list--desktop-flexible {
    display: flex;
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  color: $color_dark;
  text-transform: uppercase;
  padding-top: 13px;
}

.form__fieldset--radio {
  padding: 0;
}

.form__list--radio {
  border: 1px solid $border_color_grey-pure;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 28px;
}

.form__list-item-radio {
  margin-bottom: 9px;
}

.form__list-item-radio:last-child {
  padding-bottom: 18px;
}

.form__label--radio {
  display: block;
  position: relative;
  padding-left: 46px;
  cursor: pointer;
  user-select: none;
  padding-top: 16px;

  &::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid $border_color_grey-solid;
    top: 10px;
    left: 0;
  }
}

.form__radio:checked + label {

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $bg_color_green;
    top: 20px;
    left: 10px;
  }
}

.form__input {
  flex-grow: 1;
  font-size: 16px;
  line-height: 18px;
  color: $color_grey;
  padding-left: 13px;
  margin-right: 20px;
  margin-left: 14px;
  height: 39px;
}

.form__headline {
  margin-bottom: 33px;
}

.form__list-item--bot-intend:last-child {
  margin-bottom: 28px;
}

.form__fieldset--textarea {
  margin-right: 26px;
}

.form__textarea {
  width: 100%;
  min-height: 135px;
  font-size: 16px;
  line-height: 18px;
  color: $color_grey;
  text-transform: uppercase;
  padding-left: 14px;
  padding-top: 13px;
}

.form__button-submit {
  padding: 0;
  border: none;
}

@media (min-width: $width_tablet) {
  .form__button-box {
    display: flex;
  }
}

.form__hint {
  font-size: 14px;
  line-height: 16px;
  color: $color_grey;
}
