.page-main-form__headline {
  padding: 26px 0 0 20px;
  margin-bottom: 38px;
  text-align: left;
}

.page-main-form__text {
  width: 250px ;
  font-size: 14px;
  line-height: 18px;
  color: $color_black;
  text-transform: uppercase;
  padding-left: 20px;
  margin-bottom: 38px;
}
