html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: $width_phone;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font_main;
  color: $color_grey;
  background-color: $bg_color_white;
}

img {
  max-width: 100%;
  height: auto;
}

//:not(:focus):not(:active) - ломает радиобаттоны и чексбоксы при кастомизации
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

a {
  text-decoration: none;
  color: inherit;
}

.main-headline {
  margin: 0;
  font-size: 36px;
  font-family: $font_secondary;
  font-weight: 400;
  line-height: 36px;
  color: $color_black;

  @media (min-width: $width_tablet) {
    font-size: 60px;
    line-height: 60px;
  }

  &--lead {
    color: $color_white;
    text-align: center;

    @media (min-width: $width_tablet) {
      color: $color_black;
      text-align: left;
    }
  }
}

.section-headline {
  font-size: 36px;
  font-family: $font_secondary;
  margin: 0;
  font-weight: 400;
  line-height: 60px;
  color: $color_black;

  @media (min-width: $width_tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.thematic-headline {
  position: relative;
  margin: 0;
  font-size: 24px;
  font-family: $font_secondary;
  font-weight: 400;
  line-height: 24px;
  color: $color_black;
  text-transform: none;

  &::after {
    position: absolute;
    content: "";
    margin-left: 24px;
    width: 100vw;
    height: 3px;
    background-color: $bg_color_green;
    top: 50%;
  }
}
