//общее
@import "vendor/normalize";
@import "common/common";
@import "common/fonts";
@import "components/components";
@import "layout/page-header";
@import "layout/page-footer";
@import "layout/page-main";
//index.html
@import "blocks/index/product-promotion";
@import "blocks/index/cat-weight-headline";
@import "blocks/index/changes";
@import "blocks/index/principles";
@import "blocks/index/principles-list";
@import "blocks/index/promo";
@import "blocks/index/slider";
//catalog.html
@import "blocks/catalog/product";
@import "blocks/catalog/product-list";
@import "blocks/catalog/product-div";
@import "blocks/catalog/product-description";
@import "blocks/catalog/product-name";
@import "blocks/catalog/show-button";
@import "blocks/catalog/additional-product";
@import "blocks/catalog/additional-product-div";
@import "blocks/catalog/additional-product-list";
@import "blocks/catalog/sale-block";
//form.html
@import "blocks/form/form";
@import "blocks/form/fieldset-div";

body {
  background-color: #ffffff;
  font-family: "Oswald Regular", "Arial", sans-serif;
  color: #000000;
}
