.button {
  display: block;
  font-size: 14px;
  font-family: $font_secondary;
  line-height: 18px;
  color: $color_white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $color_green;
  border: none;
  padding: 11px 0 11px 0;

  @media (min-width: $width_tablet) {
    position: absolute;
    top: 30%;
    left: 0;
  }

  @media (min-width: $width_desktop) {
    top: 40%;
  }

  &--order,
  &--submit {
    position: inherit;
    width: 100%;
  }

  @media (min-width: $width_tablet) {
    position: absolute;
    top: 30%;
    left: 0;
  }

  @media (min-width: $width_desktop) {
    top: 40%;
  }

  &--catalog-font {
    font-size: 16px;
    line-height: 20px;
  }

  &--show {
    position: relative;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    color: $color_grey;
    background-color: $bg_color_white-lighten;
  }
}

.close-button {
  position: absolute;
  padding: 0;
  background: none;
  border: 0 none;
}
