.cat-logo {
  position: absolute;
  display: block;
  width: 33px;
  height: 38px;

  @media (min-width: $width_tablet) {
    position: static;
    width: 50px;
    height: 59px;
  }

  &--intends {
    @media (min-width: $width_tablet) {
      margin-right: 20px;
    }
  }
}
