.cat-logo {
  position: absolute;
  display: block;
  width: 33px;
  height: 38px;

  @media (min-width: $width_tablet) {
    position: static;
    width: 69px;
    height: 65px;
  }

  &--intends {
    @media (min-width: $width_tablet) {
      margin-right: 20px;
    }

    @media (min-width: $width_desktop) {
      margin-right: 14px;
    }
  }
}

.cat-logo__image {
  @media (min-width: $width_tablet) {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
