.company-info {
  &__div {
    display: flex;
    padding: 0 20px;
    background-color: $bg_color_white-lighten;

    @media (min-width: $width_tablet) {
      padding: 0 70px;
    }

    &--white-back {
      background-color: $bg_color_white;
    }
  }

  &__lead-text {
    font-size: 16px;
    font-family: $font_secondary;
    line-height: 20px;
    color: $color_black;
    text-transform: uppercase;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: $color_grey;
  }
}
