.company-info {
  &__div {
    display: flex;
    padding: 0 20px;
    background-color: $bg_color_white-lighten;
  }
}

.company-info__div--white-back {
  background-color: $bg_color_white;
}

.company-info__lead-text {
  font-size: 16px;
  font-family: $font_secondary;
  line-height: 20px;
  color: $color_black;
  text-transform: uppercase;
}

.company-info__text {
  font-size: 14px;
  line-height: 20px;
  color: $color_grey;
}
