.logo-footer {
  display: block;
  text-align: center;
  border-bottom: 1px solid $border_color_light-grey;
  padding-top: 39px;
  padding-bottom: 28px;

  @media (min-width: $width_tablet) {
    border: 0 none;
    padding-top: 7px;
  }
}

.logo-footer__svg-logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
