.logo-footer {
  display: block;
  padding-top: 39px;
  padding-bottom: 28px;
  text-align: center;
  border-bottom: 1px solid $border_color_light-grey;

  @media (min-width: $width_tablet) {
    width: 128px;
    height: 24px;
    padding-top: 5px;
    border: 0 none;
  }
}

.logo-footer__svg-logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
