.logo-footer {
  display: block;
  text-align: center;
  border-bottom: 1px solid $border_color_light-grey;
  padding-bottom: 29px;

  @media (min-width: $width_tablet) {
    border: 0 none;
    padding-top: 7px;
  }
}
