.site-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 20px;
  font-family: $font_optional;
  color: $color_black;

  @media (min-width: $width_tablet) {
    display: flex;
    font-size: 18px;
    font-family: $font_secondary;
    line-height: 25px;
    color: $color_dark;
  }

  @media (min-width: $width_desktop) {
    font-size: 20px;
    line-height: 25px;
  }
}

.site-nav-list__item {
  margin: 0;
  padding: 22px 0 23px 0;
  border-bottom: 1px solid $border_color_grey;

  @media (min-width: $width_tablet) {
    border: 0 none;

    &:not(:last-child) {
      margin-right: 36px;
    }
  }
}

.site-nav-list__link {
  margin-bottom: 23px;
  color: $color_black;

  &--index {
    @media (min-width: $width_desktop) {
      color: $color_white;
    }
  }

  &--active {
    @media (min-width: $width_tablet) {
      padding-bottom: 6px;
      border-bottom: 2px solid $color_green;
    }

    @media (min-width: $width_desktop) {
      border-bottom: 2px solid $color_white;
    }
  }
}
