.site-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 20px;
  font-family: $font_optional;
  color: $color_black;

  @media (min-width: $width_tablet) {
    display: flex;
  }
}

.site-nav-list__item {
  margin: 0;
  padding: 22px 0 23px 0;
  border-bottom: 1px solid $border_color_grey;
}

.site-nav-list__link {
  margin-bottom: 23px;
  color: $color_black;

  &--index {
    @media (min-width: $width_desktop) {
      color: $color_white;
      background-color: $bg_color_green; //временно для видимости
    }
  }
}
