.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $border_color_light-grey;
  margin: 0;
  padding: 0;

  &--intends {
    padding: 25px 0 14px 0;
  }

  @media (min-width: $width_tablet) {
    border: 0 none;

    &--intends {
      padding: 7px 0 14px 0;
    }
  }
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 37px;
  }
}
