.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $border_color_light-grey;
  margin: 0;
  padding: 0;

  @media (min-width: $width_tablet) {
    border: 0 none;
  }

  &--intends {
    padding: 23px 14px 14px 4px;

    @media (min-width: $width_tablet) {
      padding: 2px 0 14px 16px;
    }
  }
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 38px;
  }
}

.svg-icon {
  fill: $color_grey-strong;

  &:hover {
    fill: $color_green;
  }

  &:active {
    fill: $color_green-30;
  }
}

.social-list__svg-vk {
  @media (min-width: $width_tablet) {
    width: 30px;
    height: 16px;
  }
}

.social-list__svg-insta {
  @media (min-width: $width_tablet) {
    width: 23px;
    height: 23px;
  }
}

.social-list__svg-fb {
  @media (min-width: $width_tablet) {
    width: 14px;
    height: 28px;
  }
}
